body {
background: url(stakhi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	position: relative;
	float:right;
	display: inline-block;
	width: 25%;
	height: 40%;
	margin-right: 10%;
	margin-top: 10%;
	text-align: center;
}
.circle {
	float:left;
	width: 25%;
	height: 20%;
	position: relative;
	border-radius: 50% 50% 50% 50%;
	background-color: #fff;
	opacity: .7;
	margin : 4%;
}
.circle:hover{
	opacity: 1;
	transform : scale(1.5);
	-webkit-transition: transform 0.25s ease-in-out;
	-moz-transition: transform 0.25s ease-in-out;
	-o-transition: transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}
img {
	margin: 15%;
}
span.nameText{
	font-size: 300%;
}
.info{
	height:100%;
	width:100%;
}